 token                    = "777"
    cloud_id                 = "bt55"
    folder_id                = "hhh5"
    zone                     = "ru-central1-a"
    image_id                 = "5t6j"
    public_key_path          = "user.yaml"
    network_id               = "gnt"
    subnet_id                = "jkl"
    service_account_key_file = "key.json"
    privite_key              = "id_ed56546"
    private_key_path         = "~/.ssh/appuser"
    app_count                = 2
